.*
*.egg-info
__pycache__
bower_components/
build/
cache/
content/images/equation/
content/images/thumb/
content.bak/
dist
node_modules/
pelican-plugins/
theme/static/css/
theme/static/fonts/
theme/static/js/
theme/static/sass/_icons.scss

fabric_config.py

!.gitignore
!.gitmodules
!.gitlab-ci.yml
!.pre-commit-config.yaml
!theme/static/js/jquery-2.2.4.min.js
!theme/static/js/lazysizes-4.1.4.min.js
