{% extends "base.html" %}
{% block head %}
  <meta name="keywords" contents="{{ article.keywords|join(' ') }}" />
  <meta name="description" contents="{{ article.description }}" />
  <meta name="tags" contents="{{ article.tags|join(' ') }}" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l10 offset-l1">
      <div class="card">
        <div class="card-image">
          <picture class="activator">
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/images/thumb/android-wide-1026x300.png" media="(min-width: 993px)">
            <source srcset="/images/thumb/android-wide-786x230.png" media="(min-width: 601px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="/images/thumb/android-wide-520x293.png">
          </picture>
        </div>
        <div class="card-content">
          <div class="meta">
            <a href="{{ SITEURL }}/{{ article.category.url }}" class="category">{{ article.category }}</a> &bull;
            <span class="date">{{ article.locale_date }}</span> &bull;
            {% for author in article.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}" class="author">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            <div class="tags">
              {% for tag in article.tags|sort %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="flow-text">
            <div class="card-title">
              <h1>{{ article.title }}</h1>
            </div>
            {{ article.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
