<header>
  <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
  <div class="post-info">
    <div class="small-12 medium-3 large-3 columns">
      <i class="fa fa-calendar"></i> {{ article.locale_date }}
    </div>
    {% if article.author %}
      <div class="small-12 medium-4 large-4 columns">
        <i class="fa fa-user"></i> <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
      </div>
    {% endif %}
    <div class="small-8 medium-3 large-3 columns{% if not article.translations %} end{% endif %}">
      <a href="{{ SITEURL }}/{{ article.category.url }}"><span class="secondary radius label">{{ article.category }}</span></a>
    </div>
    {% if article.translations %}
      <div class="small-4 medium-2 large-2 columns">
        <i class="fa fa-flag-checkered"></i> {% for translation in article.translations -%}
            <a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
          {%- endfor %}
      </div>
    {% endif %}
  </div>
</header>