{% extends "base.html" %}
{% block head %}
  <meta name="keywords" contents="{{ article.keywords|join(' ') }}" />
  <meta name="description" contents="{{ article.description }}" />
  <meta name="tags" contents="{{ article.tags|join(' ') }}" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l10 offset-l1">
      <div class="card">
        {% if article.image %}
        <div class="card-image">
          <picture class="activator">
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/images/thumb/{{ article.image.rpartition('.')[0] }}-1026x300.{{ article.image.rpartition('.')[2] }}" media="(min-width: 993px)">
            <source srcset="/images/thumb/{{ article.image.rpartition('.')[0] }}-786x230.{{ article.image.rpartition('.')[2] }}" media="(min-width: 601px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="/images/thumb/{{ article.image.rpartition('.')[0] }}-520x293.{{ article.image.rpartition('.')[2] }}">
          </picture>
        </div>
        {% endif %}
        <div class="card-content">
          <div class="meta">
            <a href="{{ SITEURL }}/{{ article.category.url }}" class="category">{{ article.category }}</a> &bull;
            <span class="date">{{ article.locale_date }}</span> &bull;
            {% for author in article.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}" class="author">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            <div class="tags">
              {% for tag in article.tags|sort %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </div>
            {% if article.image_credits %}
            <div class="image-credits">Article image: {{ article.image_credits }}</div>
            {% endif %}
          </div>
          <div class="flow-text">
            <div class="card-title">
              <h1>{{ article.title }}</h1>
            </div>
            {{ article.content }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large green">
      <i class="large icon-share-variant"></i>
    </a>
    <ul>
      <li><a href="{{ article.share_post['email'] }}" target="_blank" class="btn-floating yellow"><i class="large icon-email-open"></i></a></li>
      <li><a href="{{ article.share_post['facebook'] }}" target="_blank" class="btn-floating facebook"><i class="large icon-facebook"></i></a></li>
      <li><a href="{{ article.share_post['twitter'] }}" target="_blank" class="btn-floating twitter"><i class="large icon-twitter"></i></a></li>
      <li><a href="{{ article.share_post['google-plus'] }}" target="_blank" class="btn-floating google"><i class="large icon-google-plus"></i></a></li>
    </ul>
  </div>
{% endblock %}
