{% extends "base.html" %}
{% block content %}
  <div class="row" id="posts" itemscope itemtype="http://schema.org/Blog">
    {% for article in articles_page.object_list %}
    <div class="col s12 m6 l4">
      <div class="card" itemscope itemtype="http://schema.org/BlogPosting">
        {% if article.image %}
        <div class="card-image" itemscope itemtype="http://schema.org/ImageObject">
          <a href="{{ SITEURL }}/{{ article.url }}">
            <picture class="activator">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="{{ SITEURL }}/images/thumb/{{ article.image.rpartition('.')[0] }}-397x224.{{ article.image.rpartition('.')[2] }}" media="(min-width: 993px)">
              <source srcset="{{ SITEURL }}/images/thumb/{{ article.image.rpartition('.')[0] }}-382x215.{{ article.image.rpartition('.')[2] }}" media="(min-width: 601px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="{{ SITEURL }}/images/thumb/{{ article.image.rpartition('.')[0] }}-520x293.{{ article.image.rpartition('.')[2] }}">
            </picture>
          </a>
          <meta itemprop="thumbnail" content="/images/thumb/{{ article.image.rpartition('.')[0] }}-520x293.{{ article.image.rpartition('.')[2] }}" />
          {% if article.image_credits %}
          <meta itemprop="license" content="{{ article.image_credits|striptags }}" />
          {% endif %}
        </div>
        {% endif %}
        <div class="card-content">
          <div class="meta">
            <a href="{{ SITEURL }}/{{ article.category.url }}" class="category" itemprop="articleSection">{{ article.category }}</a> &bull;
            {{ article.locale_date }} &bull;
            {% for author in article.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}" class="author" itemprop="author">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            {% if article.image_credits %}
            <div class="image-credits">Article image: {{ article.image_credits }}</div>
            {% endif %}
          </div>
          <div class="card-title" itemprop="name">
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </div>
          <div class="flow-text" itemprop="about">
            {{ article.summary|striptags|truncate(160) }}
          </div>
        </div>
        <div class="card-action">
          <a href="{{ SITEURL }}/{{ article.url }}">Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include "pagination.html" %}
{% endblock %}
