{% extends "base.html" %}
{% block content %}
  <div class="row" id="posts">
    {% for article in articles_page.object_list %}
    <div class="col s12 m6 l{% if article.date.day % 4 == 0 %}8{% else %}4{% endif %}">
      <div class="card">
        <div class="card-image">
          <img class="activator" src="http://lorempixel.com/485/273/technics/{{ loop.index0 % 9 + 1 }}">
        </div>
        <div class="card-content">
          <div class="meta">
            <a href="{{ SITEURL }}/{{ article.category.url }}" class="category">{{ article.category }}</a> &bull;
            {{ article.locale_date }} &bull;
            {% for author in article.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}" class="author">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </div>
          <div class="card-title">
            <a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a>
          </div>
          <div class="flow-text">
            {{ article.summary }}
          </div>
        </div>
        <div class="card-action">
          <a href='{{ SITEURL }}/{{ article.url }}'>Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include 'pagination.html' %}
{% endblock %}
