{% extends "base.html" %}
{% block title %}{{ super() }} &mdash; {{ page.title|striptags }}{% endblock title %}

{% block content %}
<article>
  <header>
    <h1 class="entry-title"><a href="/{{ page.url }}" rel="bookmark"
           title="Permalink to {{ page.title|striptags|escape }}">{{ page.title }}</a></h1>
    {% if page.translations %}
      <div class="post-info">
        <div class="small-offset-8 small-4 medium-offset-10 medium-2 columns">
          <i class="fa fa-flag-checkered"></i> {% for translation in page.translations -%}
              <a href="/{{ translation.url }}">{{ translation.lang }}</a>
            {%- endfor %}
        </div>
      </div>
    {% endif %}
  </header>
  {{ page.content }}
</article>
{% endblock %}
