@media #{$small-and-down} {
  nav {
    .brand-logo {
      font-size: 1.8rem;
    }
  }
  .container {
      width: 96%;
  }
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }

.card {
  .card-content {
    .card-title {
      color: $primary-color;
      line-height: 1.5;
      padding-bottom: 12px;
    }
    h1, h2, h3, h4, h5, h6 { color: $primary-color; }
  }
  .card-action {
    a {
      color: $primary-color-light;
      &:hover {
        color: $primary-color-light;
      }
    }
  }
}
