$body-font-family: 'Merriweather', serif;
$body-font-weight: 300;
$code-font-family: 'Oxygen Mono', monospace;
$code-font-weight: 400;
$code-color: #272822;
$header-font-family: 'Gruppo', cursive;
$header-font-weight: 400;
$paragraph-font-weight: $body-font-weight;
