$primary-color-light: #9FA8DA;  // indigo lighten-3
$primary-color: #3F51B5;  // indigo
$primary-color-dark: #303F9F;  // indigo darken-2
$primary-color-text: #FFFFFF;

$accent-color: #ff3d00;  // deep-orange accent-3
$primary-text-color: #212121;  // grey darken-4
$secondary-color: $accent-color;
$secondary-text-color: #757575;  // grey darken-1
$divider-color: #bdbdbd;  // grey lighten-1

/* Settings */

$link-color: $accent-color;

$footer-bg-color: #d84315;  // deep-orange darken-3

$off-black: $primary-text-color;

$h1-fontsize: rem-calc(40);
$h2-fontsize: rem-calc(35);
$h3-fontsize: rem-calc(28);
$h4-fontsize: rem-calc(22);
$h5-fontsize: rem-calc(16);
$h6-fontsize: 1rem;

/* Custom */

$card-link-color: $link-color !default;
$card-padding: 30px;

$small-screen-up: 768px !default;
$medium-screen-up: 1280px !default;
$large-screen-up: 1440px !default;
$small-screen: 767px !default;
$medium-screen: 1279px !default;
$large-screen: 1439px !default;

$num-cols: 6;
$gutter-width: 5rem;
