@charset "UTF-8";

@import "_functions";
@import "_settings";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "_color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
// @import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/cards";
// @import "components/toast";
// @import "components/tabs";
// @import "components/tooltip";
@import "components/buttons";
// @import "components/dropdown";
@import "components/waves";
// @import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
// @import "components/form";
// @import "components/table_of_contents";
@import "components/sideNav";
// @import "components/preloader";
@import "components/slider";
// @import "components/date_picker/default.scss";
// @import "components/date_picker/default.date.scss";
// @import "components/date_picker/default.time.scss";

@import "_highlight";

@import "_icons";

html{
  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 14px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 14px;
  }
}

@media #{$small-and-down} {
  nav {
    .brand-logo {
      font-size: 1.8rem;
    }
  }
  .container {
    width: calc(100% - 5rem);  // $gutter-width
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

tt {
  color: #444444;
  font-size: 0.9em;
}

.pagination {
  display: inline-block;
}

.meta {
  color: $primary-color-light;
  .tags {
    font-size: rem-calc(14);
    margin-top: 0.5rem;
  }
  .image-credits p {
    display: inline;
  }
  a {
    color: $primary-color-light;
    transition: .3s;
    &:hover {
      color: $primary-color;
    }
  }
}

.align-right {
  float: right !important;
}
.margin-left {
  margin-left: 1.5rem;
}

.card {
  .card-content {
    ul.simple {
      margin-left: 1.5rem;
      padding: 0;
      list-style-type: disc;
      li {
        list-style-type: disc;
      }
    }
    .card-title {
      color: $primary-color;
      line-height: 1.5;
      padding-bottom: 12px;
    }
    h1, h2, h3, h4, h5, h6 { color: $primary-color; }
    .flow-text {
      p {
        margin-bottom: 0.75rem;
      }
    }
    .error {
      @extend .red;
      a {
        @extend .white-text;
      }
    }
    .hint {
      @extend .yellow;
    }
    .tip {
      @extend .light-green;
      a {
        @extend .white-text;
      }
    }
    .important, .warning {
      @extend .orange;
      a {
        @extend .white-text;
      }
    }
    .error, .hint, .important, .tip, .warning {
      .admonition-title {
        @extend .card-title;
        @extend .black-text;
      }
      @extend .card-panel;
    }
    table.footnote td.label {
      vertical-align: top;
    }

    border-radius: 0;
    padding: $card-padding 0 0 0;
  }
  .card-action {
    a {
      color: $primary-color-light;
      &:hover {
        color: $primary-color-light;
      }
    }
    border-top: 0;
    border-bottom: 1px solid rgba(160,160,160,.2);
  }
  .card-image {
    border-radius: 0;
    img {
      border-radius: 0;
    }
  }

  @extend .z-depth-0;
  border-radius: 0;
  margin-bottom: $element-top-margin; // yes, I want the same margin as for the top
}

.speakerdeck {
  @media only screen and (min-width: 0) {
    width: 100%;
  }

  @media only screen and (min-width: $medium-screen) {
    width: 75%;
  }

  @media only screen and (min-width: $large-screen) {
    width: 50%;
  }
}

.page-footer > .container {
  p {
    @extend .grey-text.text-lighten-4;
    a {
      @extend .orange-text.text-lighten-3;
    }
  }
}

.gallery img {
  width: 100%;
}

.row.gallery .col {
  padding: 2px 5px !important;
}

.facebook {
  background-color: #3B5998;
}
.google {
  background-color: #D62D20;
}
.twitter {
  background-color: #326ADA;
}
